extends layout

block content
  .section.section-full
    .section-title
      .section-title-content
        p(style="font-size: .5em") how it works?

    .section-description
      .section-desc-content(style="font-size: 1.6em; font-weight: 700")
        p Upload a file and generate yourself a a unique 4 digit token. Open Swift Share and use the same token to get back your files at the token section. 
          a.primary(href='https://youtube.com/') Learn More