extends layout

block content
  .section.section-full
    .section-title
      .section-title-content
        p faqs

    .section-description
      .section-desc-content
        p
          span.primary What are tokens? What if I forget it?
          br
          | Tokens are the unique 4 digit numbers that is associated with the file you have uploaded. You have to remember the token in order to get back your files.
          | Don't worry, we will also mail you the token to your provided email address. 
        p
          span.primary Are my files secure?
          br
          | Sacrificing security over speed was our biggest challenge. We highly recommend you 
          strong not to upload any confidentail files
          | . It's just for sharing files like college projects, assingments or notes. See 
          a.primary(href='/behind') How it works
        p
          span.primary Are there any restrictions or expirations on uploaded files?
          br
          | Yes, there are restrictions on file size, which is 10Mb or less. Also, your files will expire in 7 Days. We have done this in favor of fair usage of resouces.