extends layout

block content
  .section.section-full
    .section-title
      .section-title-content
        p about

    .section-description
      .section-desc-content
        p
          | Swift Share was born out of a 
          a.primary(href='http://printuu.com') similar concept,
          |  with a 
          strong better overall user experience
          |  in mind, making it 
          strong safer like mail, but a lot faster.
        p
          | Built by the 
          strong 4th year Computer Science students as a fun project, 
          |  it turned into something that was liked by many people.
          | We went on with purchasing the domain name and finally deploying on live servers.
          | We are actively developing this application, adding more features.
        p 
          | It is built on 
          strong Node.js
          |  and 
          strong MEAN stack
          | , technologies that we had just learnt 
          | and worked straight on this project for a hands-on experience. 
          strong We have just one dream, to make your life easier.
        p Visit 
          a.primary(href="/behind") How it Works
          |  page to know how it works or 
          a.primary(href="contact") Contact
          |  page to give us Feedback or contact us.